*{
    margin: 0;
    padding: 0;
}

#login{
    position: absolute;
    width: 1460px;
    height: 904px;
    top: 10px;
    left: 10px;
    background: #FFF8F2;
    border: 2px solid #FF9200;


}
#blogLOGIN{
    position: absolute;
    width: 225px;
    height: 90px;
    top: 814px;
    left: 1141px;
    padding: 0px 89px 0px 0px;
    gap: 0px;
    border-radius: 43.04px 0px 0px 0px;
    opacity: 0px;
    color: var(--orange-claro, #FF9200);
    border: 2px solid #FF9200;
    background: black;



}
#blogLOGIN img{
    position: relative;
    left: 30%;
    cursor: pointer;
}
#Group-7LOGIN{
    position: absolute;
    width: 320.63px;
    height: 28px;
    top: 62.62px;
    left: 69px;
    padding: 0px;
    gap: 0px;
    opacity: 0px;
    
}
#Group-7LOGIN a{
    font-family: FONTSPRING DEMO - Lufga ExtraLight;
    font-size: 21.72px;
    font-weight: 200;
    line-height: 28.35px;
    letter-spacing: -0.015em;
    text-align: left;
    text-decoration: none;
    color: black;
    margin-left: 86px;
    height: 28px;
    gap: 0px;
    opacity: 0px;

}
#headerLOGIN{
    position: absolute;
    width: 227px;
    height: 60px;
    top: 47px;
    left: 1233px;
    gap: 0px;
    opacity: 0px;

}

#Group-6LOGIN{
    position: absolute;
    width: 613px;
    height: 127.73px;
    top: 452.12px;
    left: 98px;
    gap: 0px;
    opacity: 0px;

}
#pigupLOGIN{
    position: absolute;
    width: 239.29px;
    height: 203.59px;
    top: 282px;
    left: 297.13px;
    gap: 0px;
    opacity: 0px;

}


#Group-1LOGIN{
    position: absolute;
    height: 169px;
    top: 330px;
    width: 495px;
    left: 835px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#emailLOGIN{
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #FF7A00;
    width: 495px;
    

}
#passwordLOGIN{
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #FF7A00;
    width: 495px;
}
#Group-1LOGIN a{
    font-family: FONTSPRING DEMO - Lufga Light;
    font-size: 16px;
    font-weight: 300;
    line-height: 20.88px;
    letter-spacing: 0.1em;
    text-align: left;
    color: var(--INPUTS, #797C7E);
    align-self: flex-end;

    
}
#h1Login{
    position: absolute;
    font-family: FONTSPRING DEMO - Lufga ExtraBold;
    font-size: 48px;
    font-weight: 800;
    line-height: 62.64px;
    text-align: left;
    width: 249px;
    height: 63px;
    top: 196px;
    left: 958px;
    gap: 0px;
    opacity: 0px;

    
}
#Frame21LOGIN{
    position: absolute;
    top: 548px;
    left: 999px;

}

#Group-3LOGIN{
    position: absolute;
    width: 376px;
    height: 21px;
    top: 638px;
    left: 895px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;


}
#facebookLOGIN{
    position: absolute;
    width: 42px;
    height: 40px;
    top: 673px;
    left: 1100px;
    gap: 0px;
    opacity: 0px;
    cursor: pointer;

}
#googleLOGIN{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 673px;
    left: 1024px;
    gap: 0px;
    opacity: 0px;
    cursor: pointer;

}


